html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0
}

#map {
    height: 100vh
}

.info {
    background: #fff;
    padding: 6px 8px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

/* simple marker used when GeoJSON has `marker-symbol` */
.my-marker {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9) inset;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden
}

.my-marker i {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    font-size: 14px
}